node_modules/
.env
.env.local
.env.*.local

*.log

.DS_Store
Thumbs.db

.vscode/
.idea/

# Compiled build files
/about-page.html
/contact-us-page.html
/portfolio-page.html
/services-page.html
/sub-pages/